<div class="container">
	<div class="col-md-6">
		<b><h2>GENTE EMPRENDEDORA:</h2></b>
		<p>Apoyar a gente emprendedora con proyectos que tengan impacto en la sociedad con la finalidad de apoyar a jóvenes con talento en el municipio. Logrando asi: incrementar el apoyo a jóvenes mediante apoyos económicos, verificar el seguimiento de los proyectos y crear proyectos de innovación.</p>
		<b><h2>Requisitos:</h2></b>
		<ul>
			<li>•	Ser originario del municipio (San Damián Texoloc)</li>
			<li>•	Documentación del proyecto</li>
			<li>•	1 Copia de la credencial de elector</li>
			<li>•	1 Copia del acta de nacimiento </li>
			<li>•	1 Copia la curp</li>
			<li>•	1 copia del Comprobante de domicilio</li>
		</ul>
	</div>
	<div class="col-md-6">
		<center><%= image_tag "conf.jpg", :width => "450", :height => "300" %></center>
		<br><br>
		<b><p>Si está interesado en este o en alguno de nuestros proyectos puede solicitar el apoyo dando click en el siguiente botón:</p></b>

		<center>
		<%= link_to 'Solicitar apoyo', solicitar_path, :class => "btn btn-primary btn-lg" %>
		</center>
	</div>
</div>