<div class="container">
	<div class="col-md-6">
		<b><h2>PROYECTO PRODUCCIÓN  DE MAÍZ:</h2></b>
		<p>Incrementar la productividad de maíz en las comunidades rurales mediante el apoyo de semilla para la siembra de la misma, para obtener un cultivo prioritario con gran potencial en el mercado.</p>
		<b><h2>Requisitos:</h2></b>
		<ul>
			<li>•	Ser originario del municipio (San Damián Texoloc)</li>
			<li>•	Contar con un mínimo de una hectárea de terreno</li>
			<li>•	2 Copia de las escrituras del terreno</li>
			<li>•	2 Copia de INE de beneficiario</li>
			<li>•	2 Copia de acta de nacimiento</li>
			<li>•	2 Copia de curp</li>
			<li>•	2 Copia de comprobante de domicilio</li>
		</ul>
	</div>
	<div class="col-md-6">
		<center><%= image_tag "evi3.jpg", :width => "450", :height => "300" %></center>
		<br><br>
		<b><p>Si está interesado en este o en alguno de nuestros proyectos puede solicitar el apoyo dando click en el siguiente botón:</p></b>

		<center>
		<%= link_to 'Solicitar apoyo', solicitar_path, :class => "btn btn-primary btn-lg" %>
		</center>
	</div>
</div>